@import url(https://fonts.googleapis.com/css?family=Roboto:500);

:root {
  /* Color scheme */
  --primary-color: #badbff;
  --secondary-color: #b3e5fc;
  --accent-color: #ffca28;
  --background-color: #e7eef3;
  --text-color: #333;
  --border-color: #ccc;
  --hover-bg-color: #0288d1; /* Hover color for buttons */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  text-align: center;
  padding: 2% 5%;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--border-color);
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
  background-color: white;
  color: var(--text-color);
  width: 250px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: var(--primary-color);
  box-shadow: 0px 0px 5px var(--primary-color);
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  color: var(--text-color);
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.2);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.suggestions > li:hover {
  background-color: var(--primary-color);
  color: white;
}

.event-list-item {
  list-style-type: none; /* Ensure no default bullet points */
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #ccc; /* Adjust border color as needed */
  border-radius: 8px;
  background-color: #cce8f5; /* Optional for contrast */
}

.event-list-item:hover {
  border-color: #4a90e2; /* Add a hover effect for better visibility */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
}

.details-btn:hover {
  background-color: var(--hover-bg-color);
  color: white;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 4px;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0.8rem;
}
